/* Basscss Utility Headings */

.h00 { font-size: var(--h00) }
.h0 {  font-size: var(--h0) }

@media (--breakpoint-sm) {
  .h00-responsive { font-size: var(--h00-responsive) }
  .h0-responsive {  font-size: var(--h0-responsive) }
}

@custom-media --breakpoint-sm (min-width: 40em);

:root {
  --h00:    4rem;
  --h0:     3rem;
  --h00-responsive: 8vw;
  --h0-responsive:  6vw;
}

